
<div class="main-container">

  <div class="to-pack-container">

    <ul>
      <li><h2>Key Takeaways</h2></li>
      <li>Team collaboration & pair programming</li>
      <li>Working with Veeqo API</li>
      <li>Learning about the bin packing problem</li>
      <li>Encountering a real challenge</li>
      <li>Learning a new gem</li>
      <li><%= link_to "Our Solution!", root_path %></li>
    </ul>
  </div>
</div>
</div>

